name: CI/CD Full Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Deploy & Build Docker on server
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.COOLIFY_HOST }}
          username: ${{ secrets.COOLIFY_USER }}
          key: ${{ secrets.COOLIFY_KEY }}
          port: 22
          script: |
            PROJECT_DIR="/usr/src/app/met-flight-radar"
            CONTAINER_NAME="qggowsks8kco8sw044cwcgk4-131055414007"
            IMAGE_NAME="qggowsks8kco8sw044cwcgk4:latest"

            echo "Create project dir if not exists..."
            mkdir -p $PROJECT_DIR
            cd $PROJECT_DIR

            echo "Pull latest code from repository..."
            git reset --hard
            git clean -fd
            git pull origin main

            echo "Building Docker image on server..."
            docker build -t $IMAGE_NAME .

            echo "Stopping old container if exists..."
            docker stop $CONTAINER_NAME || true
            docker rm $CONTAINER_NAME || true

            echo "Starting new container..."
            docker run -d \
              --name $CONTAINER_NAME \
              -p 3001:3001 \
              -v $PROJECT_DIR/persistent:/usr/src/app/persistent \
              $IMAGE_NAME

            echo "Deployment complete!"
