name: CI/CD Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Deploy to existing container
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.COOLIFY_HOST }}
          username: ${{ secrets.COOLIFY_USER }}
          key: ${{ secrets.COOLIFY_KEY }}
          port: 22
          script: |
            # Stop container lama
            docker stop qggowsks8kco8sw044cwcgk4-123847730442 || true
            docker rm qggowsks8kco8sw044cwcgk4-123847730442 || true
            # Jalankan ulang container dengan image yang sama
            docker run -d --name qggowsks8kco8sw044cwcgk4-123847730442 -p 3001:3001 qggowsks8kco8sw044cwcgk4:c03c8531a0384be54ba958d9c81bfc6bf1dbefb9
